# Database
MONGODB_URI="mongodb+srv://thousandlies1000:maxsteel@cluster0.4wgvnrn.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# JWT
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRE=7d

# Server
PORT=5000
NODE_ENV=development

# CORS
FRONTEND_URL=http://localhost:3000
